/* UC Berkeley Data Visualization Custom CSS */


body {
    /*font-family: Cardo !important;*/
    font-family: Merriweather !important;
}

.ucbvc-fade-in {
  animation: sweep 0.7s ease-in-out;
}

@keyframes sweep {
  0%    {opacity: 0; margin-left: 0px}
  100%  {opacity: 1; margin-left: 0px}
}



.ucbvc-clicker-red {
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.ucbvc-clicker-green {
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.ucbvc-clicker-blue {
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.ucbvc-clicker-red:hover {
    color: #ff0f0f;
}

.ucbvc-clicker-green:hover {
    color: #14a814;
}

.ucbvc-clicker-blue:hover {
    color: #130ceb;
}

.ucbvc-background-dark-blue {
    background-color: #163675;
}

.ucbvc-background-dark-blue .navbar-item{
    color: #ffffff;
}

.ucbvc-background-dark-blue .navbar-item:hover {
    color: #ffffff;
    background-color: #3c64b5;
}


/*.navbar-menu .ucbvc-background-grey .is-active{
    background-color: #383838;
}*/

#core-navbar-menu {
     background-color: #163675;

}


#core-burger-trigger-cs {
    color: white;
}