/* UC Berkeley Data Visualization Custom CSS */

.ucbvc-fade-in {
  animation: sweep 0.7s ease-in-out;
}

@keyframes sweep {
  0%    {opacity: 0; margin-left: 0px}
  100%  {opacity: 1; margin-left: 0px}
}